
// importando variaveis
@import 'variaveis';


h3{
    font-size: $font--p;
    font-family: $font--famili-1;
    font-weight: 300;
}

header{
    width: 100%;
    height: $margin--top-p;
    background: $fundo--section;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    box-shadow: 2px 2px 7px #0000008c;
    z-index: $z--nivel-1;
    backdrop-filter: blur(2px);

    .header__main{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header__logo{
            a{
                cursor: pointer;
                img{
                    width: $imgs--p;
                }
            }
        }

        .header__descricao{
            display: flex;
            align-items: center;
            h1{
                // color: #fff;
                font-weight: 500;
                text-transform:capitalize;
                padding-right: $padding--01;
                font-size: $font--m;
                font-family: $font--famili-1;
                letter-spacing: 1.5px;
                // text-shadow: 1px 1px 1px #000;
            }
            img{
                width: $icons--p;
            }
        }
    }
}

//GOTAS 
.gotas__fundo{
    position: fixed;
    bottom: 1rem;
    right: 15%;
    width: 500px;
    height: 670px;
    z-index: $z--nivel-6;
    // border: solid 1px #000;
    .primeira{
        position: absolute;
        bottom: 25px;
        left: 54%;
    }
    .segundo{
        position: absolute;
        bottom: 100px;
        left: 20%;
    }
    .terceiro{
        position: absolute;
        bottom: 200px;
        right: 2%;
    }
    .quarto{
        position: absolute;
        bottom: 340px;
        left: 0%;
    }
}


section{
    margin-top: $margin--top-p1;
    height: 75%;
    border-radius: $border--radius-p;
    z-index: $z--nivel-1;
    // backdrop-filter: blur(2.5px);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.432);
    position: relative;
    overflow: hidden;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        background: $fundo--section;
        width: 100%;
        height: 100%;
        // filter: blur(2px);
        backdrop-filter: blur(2.5px);
    }
    .section__top{
        position: relative;
        .section__descricao{
            display: flex;
            justify-content: space-between;
            h2{
                font-size: $font--p;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                padding: $padding--01 ;
                color: $corlor-font;
                img{
                    width: $icons--p;
                }
            }
            span{
                padding: $padding--01;
                &::before{
                    content: 'Qtd ';
                }
            }
        }
    }

    .section__container{
        margin: 1.5rem 1rem;
        padding: 0 3rem 0 1rem;
        overflow-y: scroll;
        max-height: 75%;
        position: relative;
        &::-webkit-scrollbar {
            width: 12px;
            height: 100%;
            background: #ffffff71;
            border-radius: $border--radius-p;
        }
        &::-webkit-scrollbar-thumb{
            background: #000;
            border-radius: $border--radius-p;
        }
        .section__documento{
            background: #fff;
            @include borda__documentos;
            padding: 0.1rem 0;
            margin: 1rem 0;
            position: relative;
            overflow: hidden;
            box-shadow: 1px 4px 7px #00000027;
            cursor: pointer;


            &::after{
                content:"";
                width: 15px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background: #50B848;
                
            }
            &:hover:after {
                width: 20px;
            }
            .documento__descricao{
                padding: 0 2rem;

            }

            // MODAL
            .service__modal{
                backdrop-filter: blur(2.5px);

                position: fixed;
                z-index: 10;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #000000c0;
                display: flex;
                justify-content: center;
                align-items: center;
                visibility: hidden;
                cursor:auto;

                .janela__modal{
                    background: #fff;
                    width: 50%;
                    height: 80%;
                    border-radius: $border--radius-p;
                    overflow: hidden;
                    padding: $padding--01;
                    position: relative;

                    .modal__top{
                        display: flex;
                        justify-content: space-between;
                        padding: $padding--01;
                        align-items: center;
                        span{
                            display: flex;
                            align-items: center;
                            text-transform: uppercase;
                            .services__modal-close{
                                font-size: 2.5rem;
                                cursor: pointer;
                            }
                        }
                    }

                    .modal__main{
                        max-height: 85%;
                        width: 100%;
                        padding: $padding--03;
                        overflow-y: scroll;
                        &::-webkit-scrollbar {
                            width: 12px;
                            height: 100%;
                            background: $fundo--section;
                            border-radius: $border--radius-p;
                        }
                        &::-webkit-scrollbar-thumb{
                            background: #000;
                            border-radius: $border--radius-p;
                        }
                        .campo__descricao{
                            margin-bottom: 2rem;
                            height: 100px;
                            border-radius: $border--radius-p;
                            border: solid #000 1px ;
                            position: relative;

                            h4{
                                position: absolute;
                                background: #fff;
                                padding: 1rem;
                                top: -2rem;
                                left: 2rem;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
            .active-modal{
                visibility: visible;
                opacity: 1;
            }
            
        }
    }
}


footer{
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 3rem;
    background: $fundo--section;
    z-index: $z--nivel-6;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: space-around;
    align-items: center;

}