

//COLORS
$fundo--principal:#e9e9e9;
$corlor-font: #7a7a7a;

//icons 
$icons--p: 25px;
$icons--m: 50px;

//MARGINS
$margin--top-p:3rem ;
$margin--top-m:5.5rem ;
$margin--top-g:6.6rem ;

//imgs
$imgs--p: 100px;
$imgs--m: 120px;

//padings
$padding--01: 10px;
$padding--02: 20px;
$padding--03: 35px;

//font-size
$font--p:15px;
$font--m:19px;
$font--g:25px;

//BORDAS
$border--radius-p: 10px;
$border--radius-m: 25px;
$border--radius-g: 37px;