

//COLORS
$fundo--principal:#F6F6F6;

//icons 
$icons--p: 25px;
$icons--m: 50px;


//imgs
$imgs--m: 120px;

//padings
$padding--01: 10px;

//font-size
$font--p:15px;
$font--m:19px;
$font--g:25px;

//BORDAS
$border--radius-p: 10px;
$border--radius-m: 25px;
$border--radius-g: 37px;