@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&family=Space+Mono:wght@400;700&display=swap');

//FONT FAMILY
$font--famili-1: 'Roboto', sans-serif;
$font--famili-2:  'Space Mono', monospace;

//COLORS
$fundo--principal:#e9e9e9;
$corlor-font: #7a7a7a;
$fundo--section:#7a7a7a83;

//icons 
$icons--p: 25px;
$icons--m: 50px;

//MARGINS
$margin--top-p:4.5rem ;
$margin--top-p1:1.5rem ;
$margin--top-m:5.5rem ;
$margin--top-g:6.6rem ;

//imgs
$imgs--p: 100px;
$imgs--m: 120px;

//padings
$padding--01: 10px;
$padding--02: 20px;
$padding--03: 35px;

//font-size
$font--p:13px;
$font--m:19px;
$font--g:25px;

//BORDAS
$border--radius-p: 4px;
$border--radius-m: 25px;
$border--radius-g: 37px;

//Z-INDEX
$z--nivel-1:10;
$z--nivel-2:9;
$z--nivel-3:7;
$z--nivel-4:4;
$z--nivel-5:2;
$z--nivel-6:1;


// ==============================

@mixin borda__documentos {
    border-radius: 10px 0px / 10px 10px ;
}