header {
  width: 100%;
  height: 5.5rem;
  background: #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
}

header .header__main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__main .header__logo a {
  cursor: pointer;
}

header .header__main .header__logo a img {
  width: 100px;
}

header .header__main .header__descricao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__main .header__descricao h1 {
  text-transform: uppercase;
  padding-right: 10px;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
}

header .header__main .header__descricao img {
  width: 50px;
}

section {
  height: 75%;
  background: #e9e9e9;
  border-radius: 10px;
  border-top: solid 1px #e9e9e9;
}

section .section__top .section__descricao h2 {
  font-size: 15px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  color: #7a7a7a;
}

section .section__top .section__descricao h2 img {
  width: 25px;
}

section .section__container {
  margin: 1.5rem 1rem;
  padding: 0 3rem 0 1rem;
  overflow-y: scroll;
  max-height: 75%;
}

section .section__container::-webkit-scrollbar {
  width: 12px;
  height: 100%;
  background: #fff;
  border-radius: 10px;
}

section .section__container::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

section .section__container .section__documento {
  background: #fff;
  border-radius: 10px;
  padding: 0.3rem 0;
  margin: 1rem 0;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 1px 4px 7px #00000027;
          box-shadow: 1px 4px 7px #00000027;
  cursor: pointer;
}

section .section__container .section__documento:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

section .section__container .section__documento::after {
  content: "";
  width: 15px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #50B848;
}

section .section__container .section__documento .documento__descricao {
  padding: 0 2rem;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 2rem;
  background: #e9e9e9;
}

* {
  margin: 0px;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 900px;
}
/*# sourceMappingURL=principal.css.map */